.mainBackgroundColor{
    -fx-background-color: #111c26ff;
}.myButton {
    -fx-background-color: #111c26ff;
    -fx-border-color: #33ffffff;
    -fx-text-fill: #ffffffff;
}.tree-view{
    -fx-background-color:  #111c26ff;
    -fx-border-color: #33ffffff;
}.tree-view .tree-cell{
   -fx-text-fill: #ffffffff;
}.text-field,.text-area{
    -fx-background-color: #111c26ff;
    -fx-border-color: #33ffffff;
    -fx-text-fill: #ffffffff;
    -fx-highlight-text-fill: #111c26ff;
}.combo-box{
    -fx-background-color: #111c26ff;
    -fx-border-color: #33ffffff;
}.combo-box .cell{
    -fx-text-fill: #ffffffff;
}.combo-box .list-view {
    -fx-background-color: #111c26ff;
    -fx-border-color: #33ffffff;
}.combo-box .list-view .list-cell{
    -fx-text-fill: #ffffffff;
}.myLabel{    -fx-text-fill: #ffffffff;
}