.mainBackgroundColor{
    -fx-background-color: #b36680ff;
}.myButton {
    -fx-background-color: #ff8080ff;
    -fx-background-radius: 10;
    -fx-border-color: #ffccffff;
    -fx-border-radius: 10;

    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-text-fill: #808000ff;
    -fx-highlight-fill: #ffffff;
}.TreeView{
    -fx-background-color:  #b36680ff;
    -fx-background-radius: 10;
    -fx-border-color: #ffccffff;
    -fx-border-radius: 10;
}
.TreeView .tree-cell{
   -fx-font-family: Consolas;
   -fx-background-color:  #b36680ff;
   -fx-text-fill: #808000ff;
   -fx-background-radius: 10;
}

.codeView{
    -fx-background-color: #b36680ff;
    -fx-background-radius: 10;
    -fx-border-color: #ffccffff;
    -fx-border-radius: 10;

    -fx-font-family: Consolas;
    -fx-text-fill: #808000ff;
    -fx-highlight-fill: #ffffff;
    -fx-highlight-text-fill: #b36680ff;
}
.combo-box{
    -fx-background-color: #ff8080ff;
    -fx-background-radius: 10;
    -fx-border-color: #ffccffff;
    -fx-border-radius: 10;
}
.combo-box .cell{
    -fx-background-color: #ff8080ff;
    -fx-background-radius: 10;
    -fx-font-family: Consolas;
    -fx-text-fill: #808000ff;
}
.combo-box .list-view {
    -fx-background-color: #ff8080ff;
    -fx-background-radius: 10;
    -fx-border-color: #ffccffff;
    -fx-border-radius: 10;
}
.combo-box .list-view .list-cell{
    -fx-background-color: #ff8080ff;
    -fx-background-radius: 10;

    -fx-font-family: Consolas;
    -fx-text-fill: #808000ff;

}