.mainBackgroundColor{
    -fx-background-color: #996699ff;
}.myButton {
    -fx-background-color: #ffccccff;
    -fx-background-radius: 10;
    -fx-border-color: #b3661aff;
    -fx-border-radius: 10;

    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-text-fill: #b3661aff;
    -fx-highlight-fill: #ffffff;
}.TreeView{
    -fx-background-color:  #996699ff;
    -fx-background-radius: 10;
    -fx-border-color: #b3661aff;
    -fx-border-radius: 10;
}
.TreeView .tree-cell{
   -fx-font-family: Consolas;
   -fx-background-color:  #996699ff;
   -fx-text-fill: #b3661aff;
   -fx-background-radius: 10;
}

.codeView{
    -fx-background-color: #996699ff;
    -fx-background-radius: 10;
    -fx-border-color: #b3661aff;
    -fx-border-radius: 10;

    -fx-font-family: Consolas;
    -fx-text-fill: #b3661aff;
    -fx-highlight-fill: #ffffff;
    -fx-highlight-text-fill: #996699ff;
}
.combo-box{
    -fx-background-color: #ffccccff;
    -fx-background-radius: 10;
    -fx-border-color: #b3661aff;
    -fx-border-radius: 10;
}
.combo-box .cell{
    -fx-background-color: #ffccccff;
    -fx-background-radius: 10;
    -fx-font-family: Consolas;
    -fx-text-fill: #b3661aff;
}
.combo-box .list-view {
    -fx-background-color: #ffccccff;
    -fx-background-radius: 10;
    -fx-border-color: #b3661aff;
    -fx-border-radius: 10;
}
.combo-box .list-view .list-cell{
    -fx-background-color: #ffccccff;
    -fx-background-radius: 10;

    -fx-font-family: Consolas;
    -fx-text-fill: #b3661aff;
}